* {
  margin: 0;
  padding: 0;
  font-family: "Special Gothic Expanded One", sans-serif;;
}

.titulo {
  text-align: center;
  padding-bottom: 50px;
}

.inputs {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.inputs input {
  margin: 20px;
}

.inputs p {
  align-items: center;
  margin-top: 20px;
}

.inputs button {
  margin-left: 30px;
  padding: 0px 20px;
} 

.botoes {
  display: flex;
  justify-content: center; /* Centraliza os botões horizontalmente */
  gap: 20px;               /* Espaço entre os botões */
  margin-top: 20px;        /* Margem superior para os botões */
  width: 100%;             /* Certifica-se de que ocupa toda a largura da tela */
}

button {
  margin-top: 20px;
  padding: 15px 30px;
  border-radius: 15px;
  background-color: #4CAF50; /* Cor do botão */
  color: white;
  border: none;
}

button:hover {
  cursor: pointer;
  background-color: #45a049; /* Cor mais escura no hover */
}

button:focus {
  outline: 2px solid #4CAF50;
  outline-offset: 2px;
}

.resposta  {
  font-size: 0.85rem;
  display: flex;
  flex-direction: column;
  align-items: center; /* Centraliza horizontalmente */
  margin-top: 30px;
  text-align: center; /* Centraliza o texto dentro da div */
}